@model Project 

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>Program Name: @Model.Program</h4>

        <span class="badge badge-pill badge-primary" style="float:right">
            <p>Impact: @Model.Impact people served</p>
        </span>

        <p>Program Type: @Model.Type</p>

        <p>Completion Date: @Model.CompletionDate</p>

        <div class="card-text p-1">
            <p>Phase: @Model.Phase</p>
        </div>
    </div>
</div>